@import "tailwindcss";

/*To define colors at once that will be used throughout the app.*/

@theme {
  --color-background: black;
  --color-foreground: white;

  --color-card: black;

  --color-primary: green;
  --color-primary-foreground: white;

  --color-secondary: black;
  --color-secondary-foreground: green;

  --color-muted: black;
  --color-muted-foreground: grey;

  --color-border: black;

  --radius: 0.75rem;

  --color- hightlight: yellow;
  --color-surface: black;
}

/* Define the initial elements that are by default part of the websute */

@layer base {
  html{
    scroll-behaviour: smooth;
  }

  body{
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-family: "Inter", sans-serif; 
  }

  .font-serif{
    font-family: Playfair Display", serif;
  }
}